<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="app">
    <span id="myid"> </span>
    <video id="selfview"></video>
    <video id="remoteview"></video>
    <button id="endCall" style="display: none;" onclick="endCurrentCall()">End Call </button>
    <div id="list">
        <ul id="users">

        </ul>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var socket = io('localhost:3000');

    socket.on('send', function (mgs) {
        console.log(mgs);
    });

    function submit(){
        var mgs = $('#mgs_input').val();
        // var data = JSON.stringify([{username : name, content : mgs}]);
        // console.log(data);
        socket.emit('sendMessage',mgs);
    }

    $('#change_name').click(function () {
        var name = $('#name_').val();
        socket.emit('newName', name);
    });

    socket.on('getMessage', function (data) {
        console.log(data);
        $('#chat_box').append('<p>'+data.username+': '+data.content+'</p>');
    });


</script>
</body>
</html>
